.header {
  width: 100%;
  height: 5%;
  background-color: white;
  display: flex;
  position: fixed;
  top: 0px;
  z-index: 9999;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.01),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.13);
}

.header-text {
  display: flex;
  align-self: center;
  margin-left: 20px;
}

.header-text a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  transition: color 250ms;
}

.header-text a:hover {
  color: rgba(0, 0, 0, 1);
}

.add-book {
  align-self: center;
  width: 25px;
  height: 25px;
  background-size: cover;
  background-position: center center;
  transform: rotateZ(45deg);
  margin-right: 20px;
  opacity: 0.6;
  transition: all 250ms;
  cursor: pointer;
}

.add-book:hover {
  opacity: 1;
}

.search-book {
  align-self: center;
  width: 25px;
  height: 25px;
  background-size: cover;
  background-position: center center;
  margin-right: 20px;
  opacity: 0.6;
  transition: all 250ms;
  cursor: pointer;
}

.search-book:hover {
  opacity: 1;
}

.text-field {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.action-field {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.search-container {
  align-self: center;
  height: 25px;
  background-size: cover;
  background-position: center center;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  cursor: pointer;
  display: flex;
}

.searchbar {
  margin-right: 20px;
}

